/* App.css */

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.app-container {
  width: 500px; /* Set a fixed width for the container */
  text-align: center;
  box-sizing: border-box; /* Include padding and border in the total width/height */
}
